/* css/src / rwd01 / a_basic.css */


/*
font-family: 'S-CoreDream_3'; 300
font-family: 'S-CoreDream_6'; 600
font-family: 'S-CoreDream_8'; 800


text-transform: uppercase;
text-transform: lowercase;
text-transform: capitalize;
*/ 





