/* css/ src /rwd01 / c_tablet.css */

@media screen and (min-width:768px) and (max-width:1279px) {

#wrap {width:100%; min-width:768px; max-width:1279px; height:auto; min-height:500px;
margin:auto; padding-top:15px; box-sizing:border-box; }

/* #headBox ======================================= */
#headBox {width: 100%; height:3.4375rem;  }

.container {width:100%; height:100%; }

h1{float:right; width:25%; height:100%; 
  margin-right:4.375rem; padding-top:0.8125rem; 
  box-sizing: border-box; }
h1 a { display:block; width:100%; height:100%; 
background-image:url("../../../img/logo.png");
background-repeat: no-repeat;
background-size:100%; 
background-position: 50% 50%;}

#unb { display:none;}

#gnb { 
  width:100%; height:40rem;}

.gnb_btn {
position:relative; z-index:100;
width:40px; height:40px;
margin:10px 30px;}
.gnb_btn button {
  width:100%; height:100%;
  padding:3px;box-sizing: border-box;
}
.line {
  display: block;
  position: absolute; top:0; bottom:0; left:0; right:0;
  width:100%; height:2px;
  margin:auto; background-color: #222;
  transition:all 300ms linear;
}
.line1 {transform:translateY(-0.8rem);}
.line3 {transform: translateY(0.8rem);}

#gnb.act .line1{transform:translateY(0) rotate(45deg);}
#gnb.act .line2{height:0; opacity:0;}
#gnb.act .line3{transform:translateY(0) rotate(-45deg);}
#gnb.act .gnb_area {display: block;}


.gnb_area {
display: none;
position:absolute;
top:100%; left:0; 
width:100%; height:auto;
background-color:var(--color-primary);
padding:1rem; box-sizing: border-box;
overflow-x:hidden; overflow-y:auto; }

.gnb_area li {
width:100%; height:3rem; 
padding:0.2rem 0; box-sizing: border-box;
margin-bottom: 0.5rem;
font-family: 'S-CoreDream_6';text-transform:uppercase;
line-height: 2; font-size:var(--font-size2);
}

.gnb_area li a {display: block; width:100%;height:100%;}
  

/* #viewBox ========================================*/
#viewBox {width: 100%; height:40.625rem; 
  margin:3.125rem 0; }

.indicator {display: none;}

/* 
.indicator {position:absolute;
left:0;right:0; bottom:0.625rem; z-index:500; margin:auto;
width:8.4375rem; height:0.9375rem; }

.indicator ul { width:100%; height:100%;}
.indicator ul li { float:left;
width:0.9375rem; height:0.9375rem;
margin-right:0.9375rem;
transition: all 100ms ease; }
.indicator ul li:last-child{margin-right:0;}
.indicator ul li a {display:block; width:100%;height:100%;
  border-radius: 100%;
  background-color:var(--color-white); }

.indicator ul li.act a {background-color:var(--color-primary);}
.indicator ul li.act a:hover,
.indicator ul li.act a:focus {
  border: 2px solid var(--color-pink);
} */

.view_area {width:100%; height:100%;
background-color:var(--color-green2);
box-sizing: border-box;}

.view_g {width:100%; height:100%;
overflow:hidden; }
.view_inner { width:400%; height:100%;}

.view_inner li {float:left; width:calc(100% / 4);
height:100%; background-color:#ddd;
}

.view_inner dl {width:100%;height:100%; 
  padding-top:10px; padding-left:30px;
  box-sizing:border-box;}
  .view_inner dl dt {font-size:var(--font-size4); color:#fff;
    font-family: 'S-CoreDream_6';text-transform:uppercase;}
    .view_inner dl dd {font-size:var(--font-size3); color:#fff;
      font-family: 'S-CoreDream_3';text-transform: capitalize; 
      line-height: 1.5; margin-top:10px;}
      .view_inner dl dd a {font-size:var(--font-size2);
        width:auto; height:auto;
        border:1px solid #fff; padding:3px; 
        box-sizing: border-box; }
#view_01 { height:100%; background-image:url("../../../img/bg/turntable_bg_012.jpg");
background-size:cover; background-position:0% 80%; background-repeat: no-repeat;}
#view_02 { height:100%; background-image: url(../../../img/bg/turntable_bg_006.jpg);
  background-size:cover;}
#view_03 { height:100%; background-image: url(../../../img/bg/turntable_bg_011.jpg);
  background-size:cover;}
#view_04 { height:100%; background-image: url(../../../img/bg/turntable_bg_010.jpg);
  background-size:cover;}


/* #bestBox ========================================*/
#bestBox {width: 100%; height:1560px; 
padding:30px 0; box-sizing: border-box;}

#bestBox h2 { width:14.375rem; height:2.5rem;
margin:auto; margin-bottom:3rem; padding-left:0.9375rem; 
font-size:var(--font-size2);text-transform: uppercase; 
border-bottom:1px solid var(--color-navy3);}

.best_01 {position:relative; z-index: 10;
width:80%; height:23.125rem; margin:auto; margin-bottom:1.875rem;
background-image:url("../../../img/soundlook/turntable_009.jpg");
background-position:50% 70%;
background-size:100%;
overflow: hidden;
 }

.bc_con_01 {width:100%; height:200%; 
border-radius: 100%; position:absolute;
top:-9.8rem; bottom:0; left:-65%; z-index:-1;
background-color:var(--color-navy3);
 }
.best_01 a {display:block;
  width:100%;height:100%;} 
.b_narr {width:50%; height:100%;
  padding:9.375rem 0.9375rem; box-sizing: border-box;
  line-height: 1.3; font-family: 'S-CoreDream_3';
  text-transform: capitalize; font-size:var(--font-size2);
  color:#fff; word-break:keep-all;} 
.b_narr dl {width:100%; height:100%;} 
.b_narr dl dt {width:100%;height:100%;}
.b_narr dl dd {width:100%;height:100%;}

.best_02 {position:relative; z-index: 10;
  width:80%; height:23.125rem; margin:auto;
  background-image:url("../../../img/soundlook/turntable_008.jpg");
  background-position:80% 70%;
  background-size:100%;
  overflow: hidden;
}
.bc_con_02 {width:100%; height:200%; 
  border-radius: 100%; position:absolute;
  top:-9.8rem; bottom:0; right:-65%; z-index:-1;
  background-color:var(--color-primary);}

.b_narr_02 {width:50%; height:100%; text-align: right; 
margin-left:50%;padding:9.375rem 0.9375rem; 
box-sizing: border-box;
line-height: 1.3; font-family: 'S-CoreDream_3';
text-transform: capitalize; font-size:var(--font-size2);
color:var(--color-navy3); word-break:keep-all;} 
.b_narr_02 dl {width:100%; height:100%;} 
.b_narr_02 dl dt {width:100%;height:100%;}
.b_narr_02 dl dd {width:100%;height:100%;}

.best_03 {position:relative; z-index: 10;
  width:80%; height:23.125rem; margin:auto;  margin-top:1.875rem;
  background-image:url("../../../img/soundlook/turntable_016.jpg");
  background-position:0% 50%;
  background-size:100%;
  overflow: hidden;
}
.bc_con_03 {width:100%; height:200%; 
  border-radius: 100%; position:absolute;
  top:-9.8rem; bottom:0; left:-65%; z-index:-1;
  background-color:var(--color-navy3);
   }

/* #subViewBox ====================================*/
#subViewBox {width:100%; height:1076px; 
  margin-bottom:30px;}

.subView_area {width:100%; height:700px; 
background-image:url("../../../img/soundlook/turntable_002.jpg");
background-repeat: no-repeat;
background-size:100%; }  

.sv_con {width:70%; height:207px; margin:auto;
  margin-top:60px; }  
.sv_con li {width:auto; height:auto;}
.sv_con li:nth-child(1) {
  text-transform: capitalize;font-family: 'S-CoreDream_6';font-size:var(--font-size3);
  margin-bottom: 10px; line-height: 1.3;
}
.sv_con li:nth-child(2) {margin-bottom:10px;
text-transform: capitalize;font-family: 'S-CoreDream_3';
line-height: 1.5;}
.sv_con li a {display: block; 
border:1px solid #222; width:68px;}
/* #recommendBox ==================================*/
#recommendBox {width:100%;height:1030px; 
  margin-bottom:30px;}

.recommend_01 {width:525px; height:500px; margin:auto;
margin-bottom:20px;}
.r_narr {width:100%; height:33%;
  font-family: 'S-CoreDream_3';line-height: 1.5;
  font-size: var(--font-size1); 
  background-color:rgba(255,255,255,0.7);}
.r_narr p {width:100%;height:90%;
background-color:var(--color-navy3);
color:#fff; padding:8px;box-sizing: border-box;}  
.recommend_01 .re_pic {
  width:100%; height:100%; 
  background-image:url("../../../img/soundlook/turntable_010.jpg"); 
  background-size:cover; 
  background-position:50% 50%;}

.recommend_02 {width:525px; height:240px; margin:auto;
  margin-bottom:20px; 
  background-color:var(--color-pink); }
.recommend_02 .re_pic .r_narr {width:35%; height:100%;
  box-sizing: border-box;
  font-family: 'S-CoreDream_3';line-height: 1.2;
  background-color:rgba(255,255,255,0.7);}
.recommend_02 .re_pic {
  width:100%; height:100%; 
  background-image:url("../../../img/soundlook/turntable_003.jpg"); background-size:cover; 
  background-position:50% 50%;}
.recommend_03 {width:525px; height:240px; margin:auto;
  margin-bottom:20px; 
  background-color:var(--color-pink); }
.recommend_03 .re_pic .r_narr {width:35%; height:100%;
  box-sizing: border-box;
  font-family: 'S-CoreDream_3';line-height: 1.2;
  background-color:rgba(255,255,255,0.7);}
.recommend_03 .re_pic {
  width:100%; height:100%; 
  background-image:url("../../../img/soundlook/turntable_004.jpg"); background-size:cover; 
  background-position:50% 50%;}

/* #communityBox ===================================== */
#communityBox {width:100%; height:200px;
  margin-bottom:30px;}

#communityBox p {width:100%; height:121px; 
background-color:var(--color-navy3); text-align: center;
color:#fff; padding:30px; box-sizing: border-box;
font-size:var(--font-size2); font-family: 'S-CoreDream_6';
text-transform: uppercase;line-height: 1.5;} 

/* #vinylBox ==============================================*/
#vinylBox {width:100%; height:690px;}

#vinylBox h2 {display:none; }
#vinylBox h3 {width:540px; height: auto;
  margin: auto;
  font-family: 'S-CoreDream_3';text-transform:uppercase;
  font-size:var(--font-size3);
  color:var(--color-navy3); padding:10%; box-sizing: border-box;  }
.mob_btn {width:690px; height:690px; margin:auto;
background-image:url("../../../img/bg/turntable_bg_008.jpg");
background-repeat: no-repeat;
background-size:100%;
background-position: 75% 75%;}
.mob_btn a {display:block; width:100%; height:100%;}


.vinyl_btn_area {display:none;}
.vinyl_box { display:none;}

/* #footBox ======================================= */
#footBox {width:100%; height:830px; margin-top:50px;}

.site_infomation { width:100%; height:370px;
  background-color:var(--color-primary); }

.site_infomation { width:100%; height:370px;
background-color:var(--color-primary); }
.cs_area { width:300px; height:270px; margin:auto;
padding-top:20px;}
.cs_area h3 { width:100%; height:auto; 
  font-family: 'S-CoreDream_6';text-transform:uppercase;
font-size: var(--font-size2);}
.cs_area p {font-family: 'S-CoreDream_3';text-transform:uppercase; 
font-size:var(--font-size1); line-height: 2;} 

.bank_area,
.mp_area,
.community_area { display: none;} 

.snsnavi_area {width:190px; height:150px; margin:auto;}
.snsnavi_area h3 {display: none;}
.snsnavi_area ul { width:100%; height:100%;}
.snsnavi_area ul li {float:left;
width:auto; height:auto;}
.snsnavi_area ul li a {display: block;
width:auto; height:auto; font-size: var(--font-size3);
margin-right:30px;}
.company_infomation {width:100%; height:360px; 
background-color:var(--color-navy3);}

.user_direction {display:none;}
  .company_infomation {width:100%; height:463px; 
  background-color:var(--color-navy3);}
  .company_address {width:400px; height:300px;
  padding:20px; box-sizing: border-box;
  margin:auto; color:var(--color-primary);}

.company_address ul {width:100%;height:100%;}
.company_address ul li {width:100%; height:auto;
line-height: 2;}

.copy {display:block; width:400px; height:auto;
  margin:auto;
color:var(--color-primary); padding-left:20px;
box-sizing: border-box; }
 
  
}/* (min-width:768px) and (max-width:1279px) */